<div class="login">
    <form name="loginform">
        <div class="group">
            <input type="email" name="email" ng-model="user.login" required><span class="highlight"></span><span class="bar"></span>
            <label>Email</label>
        </div>
        <div class="group">
            <input type="password" ng-model="user.password" required><span class="highlight"></span><span class="bar"></span>
            <label>Password</label>
        </div>
        <div class="errMsg">
            {{errorMsg}}
        </div>
        <div class="group checkbox">
            <input type="checkbox" id="rememberMe" name="rememberMe" ng-model="user.remember" >
            <label for="rememberMe">Remember me</label>
        </div>
        
        <div style="text-align: center;">
            <a href="#/registration">Реєстрація</a>
        </div>
        <div class="btnParrentBlock">
            <button type="button" class="button btnChoose" ng-click="login(loginform, user)">Log in
                <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
            </button>
        </div>
    </form>
</div>